.card {
  width: 100%;
  max-width: 413px;
  padding: 33px 36px 29px;
}

.title {
  margin-bottom: 26px;
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

.instructions {
  margin-bottom: 40px;
  color: var(--color-light-900);
}
