.SliderWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
}

.cardNumber {
  display: flex;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  padding: 0.37rem 0.56rem;

  border: 1px solid var(--color-dark-300);
  border-radius: 0.125rem;
}

.SliderRoot {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 20px;
}

.SliderTrack {
  position: relative;

  flex-grow: 1;

  height: 0.35rem;

  background-color: var(--color-accent-900);
  border-radius: 9999px;
}

.SliderRange {
  position: absolute;
  height: 100%;
  background-color: var(--color-accent-500);
  border-radius: 9999px;
}

.SliderThumb {
  cursor: pointer;

  display: block;

  width: 12px;
  height: 12px;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 6px var(--color-accent-500);

  transition: all 0.4s ease-in-out;
}

.SliderThumb:hover {
  background-color: var(--color-accent-500);
  box-shadow: 0 0 0 6px white;
}

.SliderThumb:focus {
  outline: none;
}
